<header
class="p-2 bg-[rgb(225,225,225)] items-center flex flex-col fixed z-10 w-full duration-500">
    <div class="w-full md:w-7/12 flex flex-row justify-between">
        <!-- Logo and Title -->
        <a href="{{ site.baseurl }}/" class="flex flex-row items-center gap-2 hover:scale-105 duration-500">
            <img src="{{ site.baseurl }}/assets/icon.png" alt="Propulsion MD" class="w-10 h-10" />
            <h1 class="text-2xl text-black font-semibold">
                Propulsion MD
            </h1>
        </a>

        <!-- Links -->
        <div class="p-2 rounded-md bg-[rgb(205,205,205)]">
            <div class="p-2 flex flex-row gap-4 rounded-md bg-[rgb(225,225,225)]">
                <a href="https://theluqmn.github.io" class="text-black text-base font-semibold font-mono hover:brightness-110 duration-500">
                    Luqman
                </a>

                <a href="https://github.com/theluqmn/propulsion-md" class="text-black text-base font-semibold font-mono hover:brightness-110 duration-500">
                    GitHub
                </a>
            </div>
        </div>
    </div>
</header>