<div class="p-2 flex flex-col gap-2 outline outline-2 outline-[rgb(35,35,35)] rounded-md">
    <p class="text-xl text-[rgb(200,200,200)]">
        latest article
    </p>

    <div class="flex flex-row gap-4 items-center">
        <img src="../assets/icon.png" class="w-20 h-20 object-cover">
        <div class="flex flex-col gap-2">
            <p class="text-2xl text-white">
                Risk Management
            </p>
            
            <button class="p-2 text-black text-lg rounded-md bg-[rgb(4,140,224)] hover:bg-[rgb(1,100,164)] duration-300"
            href="https://theluqmn.github.io/revelations/articles/risk-management">
                read now
            </button>
        </div>
    </div>
</div>