<header class="flex flex-col gap-4">
    <h1 class="text-2xl md:text-4xl text-black">
        the revelations
    </h1>

    <div class="flex flex-row justify-between">
        <p class="md:w-1/3 text-sm text-[rgb(50,50,50)]">
            a weekly newsletter that aims to provide a comprehensive and concise overview of various topics for the aspiring entrepreneur, leaders, and curious minds.
        </p>

        <div class="hidden lg:flex flex-row gap-4 justify-between items-center">
            <div class="flex flex-col text-right">
                <p class="text-sm text-[rgb(50,50,50)]">
                    designed, developed, and written by
                </p>
                
                <a href="https://theluqmn.github.io" target="_blank" class="text-2xl text-black hover:text-[rgb(100,100,100)] duration-300">
                    Luqman (@theluqmn)
                </a>
            </div>
        
            <img src="../assets/qr.png" alt="logo" class="w-16">
        </div>
        
    </div>

    <div class="flex flex-col">
        <div class="flex flex-row gap-8 items-center">
            <a href="{{ site.baseurl }}/" target="_blank" class="text-base text-black hover:text-[rgb(100,100,100)] duration-300">
                home
            </a>

            <a href="{{ site.baseurl }}/articles" target="_blank" class="text-base text-black hover:text-[rgb(100,100,100)] duration-300">
                articles
            </a>

            <a href="{{ site.baseurl }}/about" target="_blank" class="text-base text-black hover:text-[rgb(100,100,100)] duration-300">
                about
            </a>

            <a href="https://github.com/theluqmn/revelations" target="_blank" class="text-base text-black hover:text-[rgb(100,100,100)] duration-300">
                github
            </a>
        </div>
        
        <div class="border-t border-[rgb(50,50,50)] my-4"></div>
    </div>
</header>