<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }}</title>

        <!-- Open Graph -->
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:description" content="{{ page.description }}" />
        <meta property="og:url" content="{{ page.url | relative_url }}" />

        <!-- Tailwind CSS -->
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                theme: {
                    extend: {}
                }
            }
        </script>
    </head>

    <body class="bg-black">
        <header
        class="p-2 bg-white items-center flex flex-col fixed z-10 w-full hover:bg-[rgb(225,225,225)] duration-500">
            <div class="flex flex-row items-center gap-2">
                <h1 class="text-2xl text-black">
                    The Revelations
                </h1>
            </div>
        </header>

        <main class="pt-16 p-4 md:p-1 md:pt-16 lg:w-7/12 items-center mx-auto space-y-3 text-sm lg:text-base">
            <div class="text-[rgb(225,225,225)]">
                {{ content }}
            </div>
        </main>
    </body>
</html>