<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home - The Revelations</title>
        <link rel="icon" href="{{ site.baseurl }}/assets/icon.png" type="image/x-icon" />

        <!-- Open Graph -->
        <meta property="og:title" content="Home - The Revelations" />
        <meta property="og:description" content="A weekly newsletter that aims to provide a comprehensive and concise overview of various topics for the aspiring entrepreneur, leaders, and curious minds." />

        <!-- Tailwind CSS -->
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                theme: {
                    extend: {}
                }
            }
        </script>
    </head>

    <body class="p-4 bg-concrete bg-repeat bg-[url('./assets/images/background.png')]">
        <div class="h-full flex items-center justify-center">
            <div class="p-8 w-8/12 flex flex-col gap-64 bg-paper bg-repeat">
                <h1 class="text-4xl text-[rgb(10,10,10)] font-semibold">The Revelations</h1>
                <p class="text-gray-600 text-lg font-bold text-3xl">Your Text Here</p>
            </div>
        </div>
    </body>    
</html>

<style>
    .bg-paper {
        background-image: url('./assets/images/paper.png');
        background-repeat: repeat;
        background-size: auto;
    }
    .bg-concrete {
        background-image: url('./assets/images/background.png');
        background-repeat: repeat;
        background-size: auto;
    }
</style>
