<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }}</title>
        <link rel="icon" href="../assets/icon.png" type="image/x-icon" />

        <!-- Open Graph -->
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:description" content="{{ page.description }}" />
        <meta property="og:url" content="{{ page.url | relative_url }}" />
        <meta property="og:image" content="{{ page.image }}" />

        <!-- Tailwind CSS -->
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                theme: {
                    extend: {}
                }
            }
        </script>
    </head>

    <body class="bg-black">
        {% include header.html %}

        <main class="pt-32 p-2 md:pt-32 md:p-4 md:w-7/12 mx-auto items-center space-y-3 text-sm md:text-base">
            <h1 class="pb-16 font-mono text-white text-4xl md:text-6xl font-bold">{{ page.title }}</h1>

            <!-- An abomination of nested divs -->
            <div class="p-2 rounded-md bg-[rgb(20,20,20)]">
                <div class="p-2 rounded-md bg-black">
                    <div class="text-[rgb(225,225,225)] font-mono space-y-4 [&_h2]:my-12 [&_h2]:text-4xl [&_h2]:font-semibold [&_h3]:text-2xl [&_h3]:my-8 [&_h3]:font-semibold [&_a]:text-[rgb(52,152,219)]">
                        {{ content }}
                    </div>
                </div>
            </div>
        </main>

        {% include footer.html %}
    </body>
</html>